html{
	background:url('../images/mainGradient.png');
	background-repeat:repeat-x;
}
body{	
	text-align:center;
	padding-top:12px;
	margin:0 auto;

}
.mainBoard{
	margin: 0 auto;	
	background:url('../images/bgMiddle.png');	
	width:920px;
	height:800px;	
}
.content{
	width:880px;
	position:relative;	
	margin:0 auto;
	height:590px;
}
.header{
	position:relative;
	border:1px solid black;	
	width:880px;
	height:150px;
	margin:0 auto;
}
.logo{
	position:relative;
	border-left:1px solid black;
	border-right:1px solid black;	
	border-bottom:1px solid black;
	width:300px;
	height:110px;
	margin:0 auto;	
}
.nav{
	
	background:url('../images/nav.png');	
	width:880px;
	height:60px;
	margin:0 auto;	
}
.navLink{
	position:relative;
	width:176px;
	height:40px;
	padding-top:10px;
	border:0px;
	margin:0px;
	float:left;
}

